/* styles.css */
.auction-item {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .auction-image {
    width: 100px; /* Adjust image width as needed */
    height: auto;
    margin-right: 10px;
    border-radius: 8px;
  }
  
  .auction-details {
    flex-grow: 1;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  